<%= form_for(@band, method: 'patch', remote: true) do |f| %>

  <div class="field about" id="about">
    <%= f.label :about %> <br>

    <div class="edit-button waiting" id="edit_about">
      <img src="http://image.flaticon.com/icons/svg/61/61456.svg">
    </div>

    <div class="save-button show" id="save_about">
      <img src="http://www.freeiconspng.com/uploads/save-icon-20.png">
    </div>

      <div class="edit">
        <%= f.text_field :about%>
      </div>

      <div class="static" id="static_about">
        <p> <%= @band.about %>  teste 1 </p>
      </div>

       <!-- <%= f.submit %> -->
  </div>
<%end%>
